@use './variables.scss' as *;

@mixin icone_quadrate {
    color: $colore_primario;
    background-color: #e4e9f8;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #bccdfc;
}

@mixin description {
    color: #8996aa;
    font-weight: 600;
    line-height: 1.6;
}

@mixin tag {
    color: $colore_primario;
    background-color: #e4e9f8;
    border: 1px solid #bccdfc;
    padding: 5px 8px;
    border-radius: 15px;
    width: max-content;
    font-weight: bold;
    font-size: 10px;
}